<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>应用配置管理系统</title>


  <link data-jsfiddle="common" rel="stylesheet" media="screen" href="/static/dist/handsontable.full.css">
  <script data-jsfiddle="common" src="/static/dist/handsontable.full.js"></script>

  
  <link data-jsfiddle="common" rel="stylesheet" media="screen" href="/static/css/samples.css?20140331">
  <script src="/static/js/samples.js"></script>
  <script src="/static/js/highlight/highlight.pack.js"></script>
  <script src="/static/js/moment/moment.js"></script>
  <script src="/static/js/pikaday/pikaday.js"></script>
  <link rel="stylesheet" media="screen" href="/static/js/highlight/styles/github.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/js/pikaday/css/pikaday.css">


  <script src="/static/js/ga.js"></script>
</head>

<body>
      <div>
      <h1 align="center">联测跟踪表</h1>
      </div>
      <div id="example1"></div>
     
      <div id="example2"></div>
      

  


      <script data-jsfiddle="example1">
        var data = [
            {
          
            },
            {
          
            },
            
          ],
          container1,
          hot1;

        container1 = document.getElementById('example1');
        hot1 = new Handsontable(container1, {
          data: data,
          contextMenu: true,
          manualColumnResize: true,
  		  manualRowResize: true,
          colWidths: [150, 100, 100, 100,100,100,100,100,200],
          colHeaders: ["测试环境", "计划开始日期", "计划结束日期","报告要求日期", "升级开始日期","升级结束日期",
       					"实际开始日期","实际结束日期","备注"],
          columns: [
            {},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
            	type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
            	type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
            },
       
            {data: "cover"}
          ]
        });

      </script>
      
      <script data-jsfiddle="example2">
        var data = [
            {
          
            },
            
          ],
          container2,
          hot2;

        container2 = document.getElementById('example2');
        hot2= new Handsontable(container2, {
          data: data,
          contextMenu: true,
          manualColumnResize: true,
  		  manualRowResize: true,
          colWidths: [150, 100, 100, 100,100,100,100,100,100,100],
          colHeaders: ["联测系统", "联测类别", "版本号</br>（UAT/模拟）", "UAT环境测试</br>实际开始日期","UAT环境测试</br>实际结束日期","模拟环境联测</br>实际开始日期",
       					"模拟环境联测</br>实际结束日期","测试负责人","项目经理","项目组评估结果"],
          columns: [
            {data: "title"},
            {
      			type: 'dropdown',
      			source: ['无影响联测', '升级联测', '有影响联测']
    		},
            {
            
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {
      			type: 'date',
      			dateFormat: 'MM/DD/YYYY',
      			correctFormat: true,
      			defaultDate: ''
    		},
            {data: "cover"},
            {data: "cover"},
            {data: "cover"}
          ]
        });

      </script>
    </div>
  </div>
</div>

</body>
</html>
