<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>配置管理系统后台页面</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <style type="text/css">
        body {
            padding-top: 30px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div style = "margin: 0; font-size: 11px; text-align: right; color: #487858;">
		当前用户：{{ user }} |
        <a href = "/logout/">注销</a>
    </div>

    <div class="well">
        <h1 style="margin-bottom: 30px">修改密码</h1>

        {% if oldpassword_is_wrong %}
            <p><li>原密码不正确</li></p>
        {% endif %}
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <p class="form-actions">
                <input type="submit" value="修改密码" class="btn btn-primary">
            </p>
        </form>
    </div>

    <div style = "margin: 0; font-size: 11px; text-align: right; color: #487858;">
        <a href="/upload_file/">| 文件上传</a> |
		<a href="/system_detail/">系统详情页</a> |
		<a href="/version_detail/">版本详情页</a> |
		<a href="/wiki_index/">系统百科页</a> |
		<a href="/dataex_detail/">交互信息展示页</a> |
		<a href="/cm_baseline/">基线展示页</a> |
		<a href="/cm_bi_index/">报表展示页</a> |
		<a href="/test_report_index/">测试周报页</a> |
	</div>

</body>
</html>