{% autoescape off %}
<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>配置管理系统</title> 
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" /> 
  <script src="/static/js/jquery.min.js"></script> 
  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/anchor.js"></script> 
  <style class="anchorjs"></style>
  <style>
h4,h5 {color: SlateBlue}
#main {
    height: 1200px;
    overflow: hidden;
    padding : 10px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
</style> 
 </head> 
 <body> 
  <div class="row"> 
   <div class="span8"> 
    <div id="main"></div> 
   </div> 
   <div class="span7" style="float: right;"> 
    <div class="bs-docs-section"> 
     <h1 id="support" class="page-header" color="blue">{{source_name}}百科页面</h1> 
     <ul id="myTab" class="nav nav-tabs"> 
      <li class="dropdown"> <a href="#app" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">应用系统信息 <b class="caret"></b> </a> 
       <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1"> 
        <li><a href="#CM_Application" tabindex="-1" data-toggle="tab">应用系统配置信息</a></li> 
        <li><a href="#CM_Application_Maintainer" tabindex="-1" data-toggle="tab">应用配置人员相关信息</a></li> 
       </ul> </li> 
      <li class="dropdown"> <a href="#appserver" id="myTabDrop2" class="dropdown-toggle" data-toggle="dropdown">主机信息 <b class="caret"></b> </a> 
       <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2"> 
        <li><a href="#Appserver" tabindex="-1" data-toggle="tab">服务器资源信息</a></li> 
        <li><a href="#Mount" tabindex="-1" data-toggle="tab">存储挂载点信息</a></li>
        <li><a href="#LB" tabindex="-1" data-toggle="tab">应用服务器集群信息</a></li>
        <li><a href="#LB_Member" tabindex="-1" data-toggle="tab">应用服务器组员信息</a></li>
        <li><a href="#CM_Users" tabindex="-1" data-toggle="tab">系统用户信息</a></li> 
        <li><a href="#Config_File" tabindex="-1" data-toggle="tab">重要配置信息</a></li> 
        <li><a href="#Log_File" tabindex="-1" data-toggle="tab">日志信息</a></li> 
        <li><a href="#Server_Process_Pool" tabindex="-1" data-toggle="tab">进程信息</a></li> 
        <li><a href="#Software" tabindex="-1" data-toggle="tab">软件信息</a></li> 
        <li><a href="#Weblogic" tabindex="-1" data-toggle="tab">Weblogic信息</a></li> 
        <li><a href="#Weblogic_Jdbc" tabindex="-1" data-toggle="tab">JDBC信息</a></li> 
        <li><a href="#Weblogic_Server" tabindex="-1" data-toggle="tab">Weblogic服务器信息</a></li> 
        <li><a href="#Weblogic_Jdbc_Map" tabindex="-1" data-toggle="tab">WeblogicJDBC映射信息</a></li> 
        <li><a href="#Weblogic_App" tabindex="-1" data-toggle="tab">应用部署信息</a></li> 
        <li><a href="#License" tabindex="-1" data-toggle="tab">许可证信息</a></li> 
        <li><a href="#DB" tabindex="-1" data-toggle="tab">数据库信息</a></li> 
        <li><a href="#MQ" tabindex="-1" data-toggle="tab">MQ信息</a></li> 
        <li><a href="#Tomcat" tabindex="-1" data-toggle="tab">Tomcat信息</a></li> 
        <li><a href="#Apache" tabindex="-1" data-toggle="tab">Apache信息</a></li> 
        <li><a href="#Other" tabindex="-1" data-toggle="tab">Other信息</a></li> 
       </ul> </li> 
      <li class="dropdown"> <a href="#device" id="myTabDrop3" class="dropdown-toggle" data-toggle="dropdown">机房管理信息 <b class="caret"></b> </a> 
       <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop3"> 
        <li><a href="#Cluser" tabindex="-1" data-toggle="tab">虚拟化集群信息</a></li>
        <li><a href="#Device" tabindex="-1" data-toggle="tab">物理设备信息</a></li> 
        <li><a href="#server_detail" tabindex="-1" data-toggle="tab">服务器信息</a></li> 
        <li><a href="#storage_detail" tabindex="-1" data-toggle="tab">存储信息</a></li> 
        <li><a href="#NetDevice_detail" tabindex="-1" data-toggle="tab">网络设备信息</a></li> 
        <li><a href="#Equipment_detail" tabindex="-1" data-toggle="tab">机房其他设备信息</a></li> 
       </ul> </li> 
     </ul> 
     <div id="myTabContent" class="tab-content"> 
      {{table_content1}}
      {{table_content2}}
      {{table_content3}}
      {{table_content4}}
      {{table_content_mount}}
      {{table_content_LB}}
      {{table_content_LB_member}}
      {{table_content5}}
      {{table_content6}}
      {{table_content7}}
      {{table_content8}}
      {{table_content9}}
      {{table_content10}}
      {{table_content11}}
      {{table_content12}}
      {{table_content13}}
      {{table_content_License}}
      {{table_content14}}
      {{table_content15}}
      {{table_content16}}
      {{table_content17}}
      {{table_content18}}
      {{table_content_cluser}}
      {{table_content19}}
    
      {{table_content20}}
      {{table_content21}}
      {{table_content22}}
      {{table_content23}}
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- ECharts单文件引入 --> 
  <script src="/static/js/echarts.js"></script> 
  <script type="text/javascript">
		anchors.add();
        // 路径配置
        require.config({
            paths: {
                echarts: '/static/js/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/tree' // 使用力导向布局图就加载force模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
		
        
        var option = {
     title : {
        text: '系统配置信息页面',
       
    },
    tooltip : {
        trigger: 'item',
        formatter: "{b}: {c}"
    },
    toolbox: {
        show : true,
        feature : {
            saveAsImage : {show: true},
        }
    },
    
    calculable : true,

    series : [
        {
            name:'树图',
            type:'tree',
            orient: 'horizontal',  // vertical horizontal
            rootLocation: {x: 50, y: 'center'}, // 根节点位置  {x: 'center',y: 10}
            nodePadding: 20,
            symbol: 'circle',
            symbolSize: 40,
            itemStyle: {
                normal: {
                    label: {
                        show: true,
                        position: 'inside',
                        textStyle: {
                            color: '#cc9999',
                            fontSize: 15,
                            fontWeight:  'bolder'
                        }
                    },
                    lineStyle: {
                        color: '#000',
                        width: 1,
                        type: 'curve' // 'curve'|'broken'|'solid'|'dotted'|'dashed'
                    }
                },
                emphasis: {
                    label: {
                        show: true
                    }
                }
            },
            data: [
                {
                    name: '{{source_name}}',
                    
                    symbolSize: [90, 70],
                    
                    itemStyle: {
                        normal: {
                            label: {
                                show: true,
                                position: 'top'
                            }
                        }
                    },
                    children: [
                        {
                            name: '应用系统信息',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        position: 'left'
                                    }
                                }
                            },
                            symbolSize: [60, 60],
                            children: [
                                {
                                    name: '应用系统配置信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                },
                                
                                {
                                    name: '应用配置人员相关信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                position: 'right'
                                            },
                                            color: '#1C86EE',
                                            brushType: 'stroke',
                                            borderWidth: 1,
                                            borderColor: '#999966',
                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            name: '主机信息',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        position: 'left'
                                    }
                                }
                            },
                            symbolSize: [60, 60],
                            children: [
                                {
                                    name: '服务器资源信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '存储挂载点信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '应用服务器集群信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '应用服务器组员信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '系统用户信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '重要配置信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '日志信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },  
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                    
                                },
                                {
                                    name: '进程信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '软件信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'Weblogic信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'JDBC信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'Weblogic服务器信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'WeblogicJDBC映射信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '应用部署信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '许可证信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '数据库信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'MQ信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'Tomcat信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'Apache信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'

                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: 'Other信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                position: 'right'
                                            },
                                            color: '#1C86EE',
                                            brushType: 'stroke',
                                            borderWidth: 1,
                                            borderColor: '#999966',
                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            name: '机房管理信息',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        position: 'left'
                                    }
                                }
                            },
                            symbolSize: [60, 60],
                            children: [
                            {
                                    name: '虚拟化集群信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '物理设备信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '服务器信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '存储信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            color: '#1C86EE',
                                            label: {
                                                show: true,
                                                position: 'right'
                                            },
                                            
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            },
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '网络设备信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'right',
                                                formatter: "{b}"
                                            },
                                            color: '#1C86EE',
                                            borderWidth: 2,
                                            borderColor: '#cc66ff'
                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                },
                                {
                                    name: '机房其他设备信息',
                                    symbol: 'circle',
                                    symbolSize: 20,
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                position: 'right'
                                            },
                                            color: '#1C86EE',
                                            brushType: 'stroke',
                                            borderWidth: 1,
                                            borderColor: '#999966',
                                        },
                                        emphasis: {
                                            borderWidth: 0
                                        }
                                    }
                                }
                            ]
                        },
                        
                    ]
                }
            ]
        }
    ]
};

        // 为echarts对象加载数据 
var ecConfig = require('echarts/config');
function eConsole(param) {
	var nodeName = param.name;
	$("a:contains("+nodeName+")").click();
}
	
		
		myChart.setOption(option);
		myChart.on(ecConfig.EVENT.CLICK, eConsole);
		myChart.on(ecConfig.EVENT.DBLCLICK, eConsole);
		//myChart.on(ecConfig.EVENT.HOVER, eConsole);
		myChart.on(ecConfig.EVENT.DATA_ZOOM, eConsole);
		myChart.on(ecConfig.EVENT.LEGEND_SELECTED, eConsole);
		myChart.on(ecConfig.EVENT.MAGIC_TYPE_CHANGED, eConsole);
		myChart.on(ecConfig.EVENT.DATA_VIEW_CHANGED, eConsole);
		}
		);
$("#CM_Application").removeClass("fade")
$("#CM_Application").addClass("active");	
	
    </script> 
  <div style="margin: 0; font-size: 11px; text-align: right; color: #487858;"> 
   <a href="/system_detail/">系统详情页</a> | 
   <a href="/version_detail/">版本详情页</a> | 
   <a href="/cm_baseline/">基线展示页</a> | 
  </div> 
 </body>
</html>
{% endautoescape %}